.benefits {
	position: relative;
	width: 100%;
	max-width: 1512px;
	padding-top: 32px;
	padding-right: 24px;
	padding-bottom: 32px;
	padding-left: 24px;
	z-index: 10;
	margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.benefits {
		padding-top: 60px;
		padding-right: 0;
		padding-bottom: 60px;
		padding-left: 0;
	}
}

@media screen and (min-width: 1024px) {
	.benefits {
		padding-top: 60px;
		padding-right: 156px;
		padding-bottom: 60px;
		padding-left: 156px;
	}
}

.titleBenefits {
	font-weight: 500;
	/* font-size: 24px; */
	font-size: 6.15vw;
	line-height: 7.17vw;
	text-align: center;
	margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
	.titleBenefits {
		font-size: 48px;
		line-height: 52px;
		margin-bottom: 40px;
	}
}

.benefits-mob {
	width: 100%;
	overflow: hidden;
	/*   -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
}

@media screen and (min-width: 768px) {
	.benefits-mob {
		display: none;
	}
}

.swiper-2 {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.swiper-2 {
		display: none;
	}
}

.benefits-desktop {
	display: none;
}

@media screen and (min-width: 768px) {
	.benefits-desktop {
		display: block;
	}
}

.benefits-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

@media screen and (min-width: 768px) {
	.benefits-list {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}

.benefits-item {
	width: 66.66vw;
	aspect-ratio: 260 / 173;
	/* 	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 40px;
	padding-left: 25px; */
	padding-top: 6.41vw;
	padding-right: 6.41vw;
	padding-bottom: 10.25vw;
	padding-left: 6.41vw;
	background: url(../images/benefits/Card.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.benefits-item {
		width: 28.82vw;
		aspect-ratio: 294 / 196;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 2.94vw;
		padding-top: 2.45vw;
		padding-right: 2.45vw;
		padding-bottom: 3.92vw;
		padding-left: 2.45vw;
	}
}

@media screen and (min-width: 1024px) {
	.benefits-item {
		width: 26.38vw;
		aspect-ratio: 399 / 265;
		flex-direction: column;
		align-items: start;
		justify-content: flex-start;
		gap: 1.32vw;
		padding-top: 1.9vw;
		padding-right: 3.3vw;
		padding-bottom: 2.64vw;
		padding-left: 1.65vw;
	}
}

@media screen and (min-width: 1512px) {
	.benefits-item {
		width: 399px;
		height: 265px;
		gap: 20px;
	}
}

.benefits-item2 {
	width: 66.66vw;
	aspect-ratio: 260 / 173;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 40px;
	padding-left: 25px;
	background: url(../images/benefits/Card.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.benefits-item2 {
		width: 28.82vw;
		aspect-ratio: 294 / 196;
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}
}

@media screen and (min-width: 1024px) {
	.benefits-item2 {
		width: 26.38vw;
		aspect-ratio: 399 / 265;
		padding-right: 50px;
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}
}

@media screen and (min-width: 1512px) {
	.benefits-item2 {
		width: 399px;
		height: 265px;
	}
}

.benefits-item .benefits-info {
	/* 	width: 48px;
	height: 48px; */
	width: 12.3vw;
	height: 12.3vw;
}
@media screen and (min-width: 768px) {
	.benefits-item .benefits-info {
		/* 	width: 48px;
			height: 48px; */
		width: 4.7vw;
		height: 4.7vw;
	}
}
@media screen and (min-width: 1024px) {
	.benefits-item .benefits-info {
		/* 	width: 80px;
			height: 80px; */
		width: 5.29vw;
		height: 5.29vw;
	}
}
@media screen and (min-width: 1512px) {
	.benefits-item .benefits-info {
		width: 80px;
		height: 80px;
	}
}

.benefits-info {
	/* width: 62px;
height: 62px; */
	width: 15.89vw;
	height: 15.89vw;
}

@media screen and (min-width: 768px) {
	.benefits-info {
		/* width: 73px;
height: 73px; */
		width: 7.15vw;
		height: 7.15vw;
	}
}
@media screen and (min-width: 1024px) {
	.benefits-info {
		width: 9.12vw;
		height: 9.12vw;
	}
}
@media screen and (min-width: 1512px) {
	.benefits-info {
		width: 138px;
		height: 138px;
	}
}

.info-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.info-index {
	/* font-size: 36px; */
	font-size: 9.23vw;
}
@media screen and (min-width: 768px) {
	.info-index {
		/* font-size: 48px; */
		font-size: 4.7vw;
	}
}
@media screen and (min-width: 1024px) {
	.info-index {
		/* font-size: 80px; */
		font-size: 5.29vw;
	}
}
@media screen and (min-width: 1512px) {
	.info-index {
		font-size: 80px;
	}
}

.info-description {
	font-weight: 400;
	/* font-size: 14px;
line-height: 18px; */
	font-size: 3.58vw;
	line-height: 4.61vw;
	color: rgba(255, 255, 255, 0.8);
}

.info-description2 {
font-weight: 400;
/* font-size: 22px; */
font-size: 5.64vw;
line-height: 1.1;
}

.info-description3 {
font-weight: 400;
/* font-size: 20px; */
font-size: 5.12vw;
line-height: 1.1;
}

@media screen and (min-width: 768px) {
	.info-description {
		font-size: 1.76vw;
		line-height: 1.76vw;
	}

	.info-description2 {
		/* font-size: 24px; */
		font-size: 1.96vw;
		}

		.info-description3 {
			/* font-size: 22px; */
			font-size: 2.15vw;
			}
}

@media screen and (min-width: 1024px) {
	.info-description {
		font-size: 1.32vw;
		line-height: 1.32vw;
	}

	.info-description2 {
		/* font-size: 30px; */
		font-size: 1.98vw;
		}

		.info-description3 {
			/* font-size: 30px; */
			font-size: 1.7vw;
			}
}

@media screen and (min-width: 1512px) {
	.info-description {
		font-size: 20px;
		line-height: 20px;
	}

	.info-description2 {
		font-size: 30px;
		}

		.info-description3 {
			font-size: 30px;
			}
}

.info-resalt {
	font-weight: 500;
	/* font-size:24px;
line-height: 24px; */
	font-size: 6.15vw;
	line-height: 6.15vw;
	color: #60ffcf;
}

@media screen and (min-width: 768px) {
	.info-resalt {
		font-size: 2.35vw;
		line-height: 2.35vw;
	}
}

@media screen and (min-width: 1024px) {
	.info-resalt {
		font-size: 2.64vw;
		line-height: 2.64vw;
	}
}
@media screen and (min-width: 1512px) {
	.info-resalt {
		font-size: 40px;
		line-height: 40px;
	}
}

.lang-HU [data-translate="benefitsBest"],
.lang-PT [data-translate="benefitsBest"],
.lang-CZ [data-translate="benefitsBest"],
.lang-RU [data-translate="benefitsBest"] {
	font-size: 2.8vw;
}
.lang-HU [data-translate="casinoRank"],
.lang-PT [data-translate="casinoRank"],
.lang-CZ [data-translate="casinoRank"],
.lang-RU [data-translate="casinoRank"] {
	font-size: 3vw;
}
.lang-HU [data-translate="playerRating"],
.lang-PT [data-translate="playerRating"],
.lang-CZ [data-translate="playerRating"],
.lang-RU [data-translate="playerRating"] {
	font-size: 3vw;
}

.lang-HU [data-translate="benefitsYear"],
.lang-PT [data-translate="benefitsYear"],
.lang-CZ [data-translate="benefitsYear"],
.lang-RU [data-translate="benefitsYear"] {
	font-size: 6vw;
}
.lang-HU [data-translate="great"],
.lang-PT [data-translate="great"],
.lang-CZ [data-translate="great"],
.lang-RU [data-translate="great"] {
	font-size: 6vw;
}
.lang-HU [data-translate="reviews"],
.lang-PT [data-translate="reviews"],
.lang-CZ [data-translate="reviews"],
.lang-RU [data-translate="reviews"] {
	font-size: 6vw;
}

@media screen and (min-width: 768px) {
	.lang-HU [data-translate="benefitsBest"],
	.lang-PT [data-translate="benefitsBest"],
	.lang-CZ [data-translate="benefitsBest"],
	.lang-RU [data-translate="benefitsBest"] {
		font-size: 1.15vw;
	}
	.lang-HU [data-translate="casinoRank"],
	.lang-PT [data-translate="casinoRank"],
	.lang-CZ [data-translate="casinoRank"],
	.lang-RU [data-translate="casinoRank"] {
		font-size: 1.3vw;
	}
	.lang-HU [data-translate="playerRating"],
	.lang-PT [data-translate="playerRating"],
	.lang-CZ [data-translate="playerRating"],
	.lang-RU [data-translate="playerRating"] {
		font-size: 1.3vw;
	}

	.lang-HU [data-translate="benefitsYear"],
	.lang-PT [data-translate="benefitsYear"],
	.lang-CZ [data-translate="benefitsYear"],
	.lang-RU [data-translate="benefitsYear"] {
		font-size: 1.7vw;
	}
	.lang-HU [data-translate="great"],
	.lang-PT [data-translate="great"],
	.lang-CZ [data-translate="great"],
	.lang-RU [data-translate="great"] {
		font-size: 1.7vw;
	}
	.lang-HU [data-translate="reviews"],
	.lang-PT [data-translate="reviews"],
	.lang-CZ [data-translate="reviews"],
	.lang-RU [data-translate="reviews"] {
		font-size: 1.7vw;
	}
}

@media screen and (min-width: 1512px) {
	.lang-HU [data-translate="benefitsBest"],
	.lang-PT [data-translate="benefitsBest"],
	.lang-CZ [data-translate="benefitsBest"],
	.lang-RU [data-translate="benefitsBest"] {
		font-size: 16px;
	}
	.lang-HU [data-translate="casinoRank"],
	.lang-PT [data-translate="casinoRank"],
	.lang-CZ [data-translate="casinoRank"],
	.lang-RU [data-translate="casinoRank"] {
		font-size: 16px;
	}
	.lang-HU [data-translate="playerRating"],
	.lang-PT [data-translate="playerRating"],
	.lang-CZ [data-translate="playerRating"],
	.lang-RU [data-translate="playerRating"] {
		font-size: 16px;
	}

	.lang-HU [data-translate="benefitsYear"],
	.lang-PT [data-translate="benefitsYear"],
	.lang-CZ [data-translate="benefitsYear"],
	.lang-RU [data-translate="benefitsYear"] {
		font-size: 30px;
	}
	.lang-HU [data-translate="great"],
	.lang-PT [data-translate="great"],
	.lang-CZ [data-translate="great"],
	.lang-RU [data-translate="great"] {
		font-size: 30px;
	}
	.lang-HU [data-translate="reviews"],
	.lang-PT [data-translate="reviews"],
	.lang-CZ [data-translate="reviews"],
	.lang-RU [data-translate="reviews"] {
		font-size: 30px;
	}
}
