.loyalty {
	width: 100%;
	max-width: 1512px;
	padding-top: 32px;
	padding-right: 24px;
	padding-bottom: 32px;
	padding-left: 24px;
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.loyalty {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media screen and (min-width: 1024px) {
	.loyalty {
		padding-top: 60px;
		padding-bottom: 60px;
		padding-right: 156px;
		padding-left: 156px;
	}
}

.loyalty-slide {
  width: 64px;
  height: 64px;
}

.swiper-1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 7%;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(12, 20, 40, 0.6) 12.89%,
		rgba(0, 0, 0, 0) 100%

	);
	backdrop-filter: blur(3px);
	pointer-events: none; 
	z-index: 10;
	
}
.swiper-1::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 7%;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 29.28%,
		rgba(12, 20, 40, 0.6) 100%
		
	);
	backdrop-filter: blur(3px);
	pointer-events: none; 
	z-index: 10;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}
