.loyalty {
	width: 100%;
  max-width: 1512px;
	position: relative;
	padding-top: 32px;
	padding-right: 24px;
	padding-bottom: 32px;
	padding-left: 24px;
	pointer-events: none;
	overflow: hidden;
  margin: 0 auto
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.loyalty {
		max-width: 1020px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media screen and (min-width: 1024px) {
	.loyalty {
		max-width: 1512px;
		padding-top: 60px;
		padding-bottom: 60px;
		padding-right: 156px;
		padding-left: 156px;
	}
}

.infinite-slider {
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.infinite-track {
  display: flex;
  gap: 24px;
  animation: scroll-left-mobile 8s linear infinite;
  backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.slide {
  flex: 0 0 64px;
  height: 64px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loyalty-slide {
	width: 64px;
	height: 64px;
}

/* Mobile */
@keyframes scroll-left-mobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * ((64px + 24px) * 17)));
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .infinite-track {
    gap: 32px;
    animation: scroll-left-tablet 8s linear infinite;
  }

  @keyframes scroll-left-tablet {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * ((64px + 32px) * 17)));
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .infinite-track {
    gap: 40px;
    animation: scroll-left-desktop 8s linear infinite;
  }

  @keyframes scroll-left-desktop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * ((64px + 40px) * 17)));
    }
  }
}
